.wrapper{
  margin-top: 10rem;
}

.contact-header{
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.social-icons img{
  margin-left: 1rem;
}

.form-container{
  min-height: 500px;
  justify-content: space-between;
  flex-direction: column;
}

.input-container{
  display: flex;
  justify-content: center
}

.input-wrapper{
  border: none;
  border-bottom: 1px solid #bdbdbd;
  width: 80%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 1; /* Firefox */
    font-size: 18px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 18px;

}

::-ms-input-placeholder { /* Microsoft Edge */
  font-size: 18px;
}

.button-wrapper{
  display: flex;
  justify-content: center;
}

.send-button{
  width: 200px;
  height: 55px;
  background-color: #ef7f18;
  color: #FFF;
}


@media (min-width: 992px){
  .wrapper{
    margin-top: 10rem;
  }
  
  .contact-header{
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .input-container{
    display: flex;
    justify-content: flex-start
  }
  
  .social-icons img{
    margin-left: 1rem;
  }
  
  .form-container{
    min-height: 500px;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .input-wrapper{
    border: none;
    border-bottom: 1px solid #bdbdbd;
    width: 80%;
  }
  
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      opacity: 1; /* Firefox */
      font-size: 18px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 18px;
  
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    font-size: 18px;
  }
  
  .button-wrapper{
    display: flex;
    justify-content: flex-end;
  }
  
  .send-button{
    width: 200px;
    height: 55px;
    background-color: #ef7f18;
    color: #FFF;
  }
  
}