.navbar-brand{
  color: #F2F2F2 !important;
  font-size: 36px;
}

.navbar-collapse{
  justify-content: flex-end;
}
.navbar-nav a{
  color: #F2F2F2;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

}
.navbar-nav a:hover{
  color:  #F27630;
}
.active{
  border-bottom: 2px solid #F27630;
}

@media (min-width: 576px) {
  
}

/* @media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */