.wrapper{
  margin-top:10rem;
}

.project{
  padding: 0;
}


.project-coming-soon{
  border: 1px solid #dee2e6;
  width: 100%;
  height: 200px;
}

.coming-soon{
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
}

.img-thumbnail{
  min-height: 200px;
}